<header-component></header-component>

{{recordsList[activeNavLinks]?.length}} {{activeNavLinks}}
<home-component *ngIf="!recordsList[activeNavLinks]?.length"></home-component>

<ng-container *ngIf="recordsList[activeNavLinks]?.length">
  <div class="grid-container link image-grid">
    <div *ngFor="let items of recordsList[activeNavLinks]; let i = index;" class="grid-container image-grid">
      <div class="product-image cursor-enabled">
        <img (click)="productdetails(i)" [src]="items.thumbnailUrl" alt="" />
      </div>
      <div class="product-name text-bold f-10">
        <span>Product Name : </span>{{items.name}}
        <div class="product-name">
          <span>Product Price : </span>{{items.price | currency}}
        </div>
      </div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="isFilterSearch && !filteredData.length;">
  <div class="no-details"> No records Found </div>
</ng-container>

<footer-component></footer-component>